@import 'tailwindcss';

body {
    @apply min-h-svh w-full bg-gray-200 overflow-hidden flex
}

.tab-bg-transition {
    @apply bg-gray-100;
    transition: background-color 0.3s ease;
}

.tab-bg-transition.active {
    @apply bg-purple-300;
}

.tab-container {
    @apply h-full max-h-full flex flex-col gap-1 overflow-hidden *:bg-white *:rounded-3xl *:shadow-md
}

.card.enter {
    animation: card-enter 0.6s ease-in-out both;
    animation-delay: var(--card-enter-delay);
}

.card.exit {
    animation: card-exit 0.6s ease-in-out both;
    animation-delay: var(--card-exit-delay);
}

@keyframes card-enter {
    from {
        transform: translateX(300%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes card-exit {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-300%);
    }
}