---
import Main from "../layouts/Main.astro";
import { Navigation } from "../components/Navigation.tsx";
import { NavLinks } from "../config";
---

<Main>
	<Navigation active={NavLinks.Socials} client:load />
</Main>